<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{ 
        color:#fff;
            }
</style>


<table class="table table-striped">
    <tr  class="bg-info">
        <th>name</th>
        <th>Repeat</th>
        <th>createDate</th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<script>
	var myArray = [
	    {'name':'#کرونا', 'Repeat':'60', 'createDate':'14/7/2021'},
	    {'name':'#بهشت#کرونا', 'Repeat':'32', 'createDate':'10/1/1989'},
	    {'name':'#انتخابات', 'Repeat':'115', 'createDate':'14/7/2021'},
	    {'name':'#انتخابات_ازاد', 'Repeat':'58', 'createDate':'14/7/2021'},
	    {'name':'#کرونا_را_شکست_می دهیم', 'Repeat':'60', 'createDate':'14/7/2021'},
	    {'name':'#واکسن_ایرانی', 'Repeat':'71', 'createDate':'14/7/2021'},
	]
	
	buildTable(myArray)



	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].name}</td>
							<td>${data[i].Repeat}</td>
							<td>${data[i].createDate}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>